<!DOCTYPE html>
<html>

   <head>
     <title>Colton Dale - Timestamp Micro Service</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Colton Dale - Timestamp Micro Service - <a href="www.freecodecamp.com">freeCodeCamp</a></h1>
         <h2>Example usage:</h2>
         <h3>Normal Date: <a href="https://cjdale-timestamp-microservice.glitch.me/December%2015,%202015">https://cjdale-timestamp-microservice.glitch.me/December%2015,%202015</a></h3>
         <h3>Unix: <a href="https://cjdale-timestamp-microservice.glitch.me/1450137600">https://cjdale-timestamp-microservice.glitch.me/1450137600</a></h3>
         <h2>Example Results:</h2>
        <h3>{ "unix": 1450137600, "natural": "December 15, 2015" }</h3>
      </div>
   </body>

</html>
